<div class="signIn">
  <div class="mb_10">
    <h3 class="heading">Sign Up</h3>
  </div>
  <div class="mb_10 inptDiv">
    <form #userForm = "ngForm" name="form" (ngSubmit)="onSubmit(); userForm.reset()" class="example-form" novalidate>
      <div class="mb_10 emailInpt">
        <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="registerUser.email">
      </div>
      <div class="mb_10 firstInpt">
        <input type="firstName" name="firstName" id="firstName" placeholder="First Name" [(ngModel)]="registerUser.firstName">
      </div>
      <div class="mb_10 lastInpt">
        <input type="lastName" name="lastName" id="lastName" placeholder="Last Name" [(ngModel)]="registerUser.lastName">
      </div>
      <div class="mb_10 passInpt">
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="registerUser.password">
      </div>
      <div>
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
