input, select {
  height: 32px;
}
.container{
  background-color: #fff;
  width: 60%;
  border-radius: 5px;
}
.row{
  padding: 0px 25px 20px 25px;
}
.addForm{
  padding: 0px 0px 20px 0px;
}
h3{
  padding-top: 30px;
}
.addQtnSec{
  margin: 8vh 2vw;
}
.selectCat{
  margin: 30px;
}
.addBtn{
  margin: 15px 0px 0px 15px;
}
.addQstns{
  padding-top: 50px;
  padding-bottom: 50px;
}
/*css for placeholder*/
::-webkit-input-placeholder {
  color: #D0D0D0;
}
::-moz-placeholder {
  color: #D0D0D0;
}
:-ms-input-placeholder {
  color: #D0D0D0;
}
:-moz-placeholder {
  color: #D0D0D0;
}
