.header{
  height: 90px;/*13vh*/
  width: 100%;
  text-align: right;
  padding: 21px 25px;/*4vh 2vw*/
  background-color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navSection a{
  margin-right: 20px;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  color: #606060 !important;
  margin-right: 2vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px;
  text-align: center;
}

.dropdown-content a {
  color: #606060;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}


.bodyImg{
  background-image: url(/assets/images/photography-wallpaper-1.jpg);
  width: 100%;
  min-height: 500px;
  height: auto;
  background-size: 100% 100%;
  /*opacity: 0.4;*/
}

.col-sm-12{
  padding-right: 0px;
}

hr{
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0px 45px;
}

.footer{
  height: 90px;
  width: 100%;
  text-align: right;
  padding: 21px 25px;
  background-color: #FFFFFF;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img{
  width: 190px;
  height: 90px;
}

/*.dropdown a:first-child{
  color: black;
  opacity: 0.5;
  margin-right: 40px;
}
*/
a{
  color: #606060;
  /*opacity: 0.5;*/
}

.conatiner{
  margin-top: 10vh;
  width: 60vw;
  font-size: 0.9rem;
  border: 1px solid #D8D8D8;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.4);
}

.headImg{
  margin-left: 20px;
}
.footImg{
  margin-left: 20px;
}
.quizImg{
  height: 40px;
  width: 100px;
}
