<div class="contain">
  <div class="tagLine">
    <span>YOU KNOW,<br>YOU GROW !!</span>
  </div>
</div>

<div class="summSectn">
  <div class="head">
    <h2>Test Your Ability</h2>
    <h4 class="subHead">Our test system helps you know your flaws, so as to work on and build a perfectionist out of it.</h4>
    <div class="guideLinks">
      <a href="#">Test Guidelines</a>
      <a href="#">Crash Courses</a>
      <a href="#">Know more about courses</a>
      <a href="#">Levels</a>
    </div>
  </div>
  <img class="qzImg" src="/assets/images/800px_COLOURBOX22832113.jpg">
</div>
